*, *::before, *::after{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body{
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue),100%, 20%);
}

/* change body background color when correct or wrong */
body.correct{
    --hue: var(--hue-correct);
}

body.wrong{
    --hue: var(--hue-wrong);
}

/* Quiz section to place question box in center of page */
.container{
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}
/* make buttons into a grid */
.button-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap:10px;
    margin: 20px 0;
}
/* style and space buttons */
.button{
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%,30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius:5px;
    padding: 5px 10px;
    color: white;
    outline:none;
}
/* button border color */
.button:hover{
    border-color: black;
}
/* change button background color when correct or wrong */
.button.correct{
    --hue: var(--hue-correct);
    color: black;
}

.button.wrong{
    --hue: var(--hue-wrong);    
}
/* start and next */

.start-button, .next-button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* questions start hidden - can only see start button */
.hide{
    display: none;
}